<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>category</key>
	<dict>
		<key>menu</key>
		<array>
			<array>
				<string>全部</string>
				<string>游戏集锦</string>
				<string>实况解说</string>
				<string>英雄联盟</string>
				<string>Mugen</string>
			</array>
			<array>
				<string>全部</string>
				<string>演唱•乐器</string>
				<string>宅舞</string>
				<string>Vocaloid</string>
				<string>ACG音乐</string>
				<string>流行音乐</string>
			</array>
			<array>
				<string>全部</string>
				<string>综合</string>
				<string>工作•情感</string>
				<string>动漫文化</string>
				<string>漫画•小说</string>
			</array>
			<array>
				<string>全部</string>
				<string>科学技术</string>
				<string>数码</string>
				<string>军事</string>
				<string>汽车</string>
			</array>
			<array>
				<string>全部</string>
				<string>电影</string>
				<string>剧集</string>
				<string>综艺</string>
				<string>特摄•霹雳</string>
				<string>纪录片</string>
			</array>
			<array>
				<string>全部</string>
				<string>动画短片</string>
				<string>MAD•AMV</string>
				<string>MMD•3D</string>
				<string>旧番补档</string>
				<string>新番连载</string>
				<string>国产动画</string>
			</array>
			<array>
				<string>全部</string>
				<string>生活娱乐</string>
				<string>鬼畜调教</string>
				<string>萌宠</string>
				<string>美食</string>
				<string>原创</string>
			</array>
			<array>
				<string>全部</string>
				<string>惊奇体育</string>
				<string>足球</string>
				<string>篮球</string>
			</array>
		</array>
		<key>channelIds</key>
		<array>
			<string>83,84,85,72</string>
			<string>101,102,103,104,105</string>
			<string>110,73,74,75</string>
			<string>90,91,92,122</string>
			<string>96,97,98,99,100</string>
			<string>106,107,108,109,67,120</string>
			<string>86,87,88,89,121</string>
			<string>93,94,95</string>
		</array>
		<key>orderBy</key>
		<array>
			<string>全部</string>
			<string>时间排序</string>
			<string>人气最旺</string>
			<string>评论最多</string>
		</array>
		<key>orderById</key>
		<array>
			<string>4</string>
			<string>5</string>
			<string>7</string>
			<string>6</string>
		</array>
		<key>range</key>
		<array>
			<string>一周以内</string>
			<string>一个月内</string>
			<string>三个月内</string>
		</array>
		<key>rangeId</key>
		<array>
			<string>604800000</string>
			<string>2592000000</string>
			<string>7776000000</string>
		</array>
	</dict>
	<key>TopRanking</key>
	<dict>
		<key>url</key>
		<array>
			<string>http://api.acfun.tv/apiserver/content/rank?pageSize=20&amp;pageNo=%d&amp;channelIds=</string>
			<string>http://api.acfun.tv/apiserver/content/rank?pageSize=20&amp;pageNo=%d&amp;channelIds=</string>
			<string>http://icao.acfun.tv/search/bangumi?sort=9&amp;pageNo=%d</string>
		</array>
		<key>channelIds</key>
		<array>
			<array>
				<string>96,97,98,99,100,93,94,95,106,107,108,109,67,120,90,91,92,122,83,84,85,82,101,102,103,104,105,86,87,88,89,121</string>
				<string>106,107,108,109,67,120</string>
				<string>101,102,103,104,105</string>
				<string>83,84,85,82</string>
				<string>86,87,88,89,121</string>
				<string>93,94,95</string>
				<string>90,91,92,122</string>
				<string>96,97,98,99,100</string>
			</array>
			<array>
				<string>110,73,74,75</string>
			</array>
			<array>
				<string>&amp;type=1&amp;type=2&amp;type=3&amp;type=4</string>
				<string>&amp;type=1</string>
				<string>&amp;type=2&amp;type=3&amp;type=4</string>
			</array>
		</array>
		<key>left</key>
		<array>
			<string>视频</string>
			<string>文章</string>
			<string>番剧</string>
		</array>
		<key>right</key>
		<array>
			<array>
				<string>全部</string>
				<string>动画</string>
				<string>音乐</string>
				<string>游戏</string>
				<string>娱乐</string>
				<string>体育</string>
				<string>科技</string>
				<string>影视</string>
			</array>
			<array>
				<string>全部</string>
			</array>
			<array>
				<string>全部</string>
				<string>动画</string>
				<string>影视</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
